* {
    font-family: 'Mooli', sans-serif;
}

:root {
    --clr-btn : #F6A9CE;
    --clr-hover : #9E3668;
}

.body {
    background-color: #FDE3F0;
    min-height: 100vh;
}

.title {
    font-size: 2.5rem;
}

.image {
    max-width: 350px;
}

.navbar {
    background-color: #691A40 !important;
}

@media screen and (max-width:1024px) {
    .navbar-menu {
        background-color: #691A40 !important;
    }

    .body {
        min-height: 100vh;
        overflow: hidden;
    }
}



.navbar-burger {
    color: #FFFBF5;
}

.navbar-burger:hover {
    color: #d4d4d4;
}

.button {
    background-color: var(--clr-btn);
}

.nav-botones {
    transition: background-color, 0.1s !important;
}

.nav-botones:hover {
    background-color: var(--clr-hover) !important;
}

.logo:hover {
    background-color: var(--clr-hover) !important;
}
